<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  <title>EUIV Flags!</title>
</head>
<body>
  <div class="panel">
    <a class="github-container" href="https://github.com/KokoRobinn/eu4-flags">
        <svg class="github">
            <path d="M10.226 17.284c-2.965-.36-5.054-2.493-5.054-5.256 0-1.123.404-2.336 1.078-3.144-.292-.741-.247-2.314.09-2.965.898-.112 2.111.36 2.83 1.01.853-.269 1.752-.404 2.853-.404 1.1 0 1.999.135 2.807.382.696-.629 1.932-1.1 2.83-.988.315.606.36 2.179.067 2.942.72.854 1.101 2 1.101 3.167 0 2.763-2.089 4.852-5.098 5.234.763.494 1.28 1.572 1.28 2.807v2.336c0 .674.561 1.056 1.235.786 4.066-1.55 7.255-5.615 7.255-10.646C23.5 6.188 18.334 1 11.978 1 5.62 1 .5 6.188.5 12.545c0 4.986 3.167 9.12 7.435 10.669.606.225 1.19-.18 1.19-.786V20.63a2.9 2.9 0 0 1-1.078.224c-1.483 0-2.359-.808-2.987-2.313-.247-.607-.517-.966-1.034-1.033-.27-.023-.359-.135-.359-.27 0-.27.45-.471.898-.471.652 0 1.213.404 1.797 1.235.45.651.921.943 1.483.943.561 0 .92-.202 1.437-.719.382-.381.674-.718.944-.943"></path>
        </svg>
    </a>
    <label class="title">Guess That EUIV Flag!</label>
    <div class="control-panel">
      <button onclick="openOptions()" class="options-button"></button>
    </div>
    <label id="subtitle-label" class="subtitle">Do you know this flag?</label>
    <a id="flag-container" class="flag-container">
      <img src="/static/flags/Rebels.png" id="flag-image" class="flag">
    </a>
    <div class="input-container">
      <input type="text" id="input-field" class="input-field" placeholder="Guess a nation..." autofocus>
      <button onclick="skip()" class="skip-button">Skip</button>
    </div>
  </div>
  <div id="options-menu-bg" class="options-menu-bg">
    <div class="options-panel">
      <img src="/static/x-button.png" class="close-button" onclick="closeOptions()">
      <div id="options-menu">
      {{range .BoolFilters}}
        <input type="checkbox" filter="bool" id="{{.Field}}" name="{{.Field}}" value="{{.Field}}" {{if .Include}}checked{{end}}>
        <label for="{{.Field}}">{{.Field}}</label><br>
      {{end}}
      {{range .ListFilters}}
      {{$field := .Field}}
        <span style="color: white;">{{$field}}</span><br>
        {{range .Include}}
          <input type="checkbox" filter="list" name="{{$field}}" value="{{.}}" checked>
          <label for="{{.}}">{{.}}</label><br>
        {{end}}
      {{end}}
      </div>
      <br>
      <br>
      <br>
      <span style="color: white;">
        NOTE: Chosen countries must currently satisfy all active filters, meaning no country will be chosen if all filters are active.
      </span>
    </div>
  </div>
</body>
</html>
<script>
const subtitleLabel = document.getElementById("subtitle-label");
const flagImage = document.getElementById("flag-image");
const flagContainer = document.getElementById("flag-container");
const input_field = document.getElementById("input-field");
const options_menu_bg = document.getElementById("options-menu-bg");
const options_menu = document.getElementById("options-menu");
const pdx_wiki_url = "https://eu4.paradoxwikis.com"
var ans = "Rebels";

document.getElementById("input-field")
  .addEventListener("input", (event) => checkAns());

document.addEventListener("keydown", handleShortcut);

let s = getCookie("settings")
if (s != "") {
  const filter_string = JSON.stringify(s)
  const checkboxes = Array.from(options_menu.querySelectorAll('input[type="checkbox"]'))
    .forEach(checkbox => {
      if (!filter_string.includes(checkbox.value)) {
        checkbox.checked = false
        console.log(`Unchecking box ${checkbox.name}`)
      }      
    });
  fetch("/update-settings",
  {
    method: "POST",
    body: s,
    headers: {
      "Content-type": "application/json",
    },
  })
}
newQuestion();

function handleShortcut(event) {
  if (event.key === "Escape" && options_menu_bg.style.display != "none") {
    event.preventDefault();
    closeOptions();
  }
}

function openOptions() {
  options_menu_bg.style.display = "block";
}

function closeOptions() {
  options_menu_bg.style.display = "none";
  const bool_filter_ids = Array.from(options_menu.querySelectorAll('input[filter="bool"]:checked'))
    .map(checkbox => checkbox.id);
  var list_filter_names = Array.from(options_menu.querySelectorAll('input[filter="list"]'))
    .map((checkbox) => checkbox.name)
  list_filter_names = [...(new Set(list_filter_names))]
  var filters = []
  bool_filter_ids.forEach(id => {
    filters.push({
      "field": id, 
      "include": true
    });
  });
  list_filter_names.forEach(field => {
    const includes = Array.from(options_menu.querySelectorAll(`input[name="${field}"]:checked`))
      .map((checkbox) => checkbox.value)
    filters.push({
      "field": field,
      "include": includes
    })
  });
  
  setCookie("settings", JSON.stringify(filters), 10)
  fetch("/update-settings",
  {
    method: "POST",
    body: JSON.stringify(filters),
    headers: {
      "Content-type": "application/json",
    },
  })
  console.log(JSON.stringify(filters))
}

function randomSubtitle() {
  const subtitles = [
    "Do you know this flag?",
    "How 'bout this one?",
    "You'll never guess this!",
    "Bet you've never seen this one!",
    "Everyone knows this one!",
    "This one's a classic!",
    "Not sure about that design...",
  ]

  subtitleLabel.innerHTML = subtitles[Math.floor(Math.random() * subtitles.length)];
}

function getCookie(cname) {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i < ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}

function setCookie(cname, cvalue, exyears) {
  const d = new Date();
  d.setTime(d.getTime() + (exyears*365*24*60*60*1000));
  let expires = "expires="+ d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

function skip() {
  let num_guessed = getCookie("num_guessed");
  setCookie("num_guessed", Number(num_guessed) + 1, 10);
  input_field.value = "";
  newQuestion();    
}

function checkAns() {
  let val = input_field.value
  if (val.toLowerCase() == ans.toLowerCase()) {
    let num_correct = getCookie("num_correct");
    setCookie("num_correct", Number(num_correct) + 1, 10);
    skip();
  }
}

function newQuestion() {
  fetch("/new")
    .then((response) => response.json())
    .then((q) => {
      ans = q.answer.normalize("NFD").replace(/[\u0300-\u036f]/g, "").replace("–", "-");
      flagImage.src = q.flag;
      flagContainer.href = pdx_wiki_url + q.flag.replace("/static/flags", "").replace(".png", "")
    });
  randomSubtitle();
  input_field.focus();
}
</script>
