<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
  <div class="panel">
    <label class="title">Guess That EUIV Flag!</label>
    <div class="control-panel">
      <button onclick="openOptions()" class="options-button"></button>
    </div>
    <label id="subtitle-label" class="subtitle">Do you know this flag?</label>
    <a id="flag-container" class="flag-container">
      <img src="/static/flags/Rebels.png" id="flag-image" class="flag">
    </a>
    <div class="input-container">
      <input type="text" id="input-field" class="input-field" placeholder="Guess a nation..." autofocus>
      <button onclick="skip()" class="skip-button">Skip</button>
    </div>
  </div>
  <div id="options-menu-bg" class="options-menu-bg">
    <div class="options-panel">
    <img src="/static/x-button.png" class="close-button" onclick="closeOptions()">
      <div id="options-menu">
      {{range .BoolFilters}}
        <input type="checkbox" filter="bool" id="{{.Field}}" name="{{.Field}}" value="true" checked="{{.Include}}">
        <label for="{{.Field}}">{{.Field}}</label><br>
      {{end}}
      {{range .ListFilters}}
      {{$field := .Field}}
        <span style="color: white;">{{$field}}</span><br>
        {{range .Include}}
          <input type="checkbox" filter="list" name="{{$field}}" value="{{.}}" checked="true">
          <label for="{{.}}">{{.}}</label><br>
        {{end}}
      {{end}}
      </div>
    </div>
  </div>
</body>
</html>
<script>
const subtitleLabel = document.getElementById("subtitle-label");
const flagImage = document.getElementById("flag-image");
const flagContainer = document.getElementById("flag-container");
const input_field = document.getElementById("input-field");
const options_menu_bg = document.getElementById("options-menu-bg");
const options_menu = document.getElementById("options-menu");
const pdx_wiki_url = "https://eu4.paradoxwikis.com"
var ans = "Rebels";

document.getElementById("input-field")
  .addEventListener("input", (event) => checkAns());

document.addEventListener("keydown", handleShortcut);

let s = getCookie("settings")
if (s != "") {
  fetch("/update-settings",
  {
    method: "POST",
    body: JSON.stringify(s),
    headers: {
      "Content-type": "application/json",
    },
  })
}
newQuestion();


function handleShortcut(event) {
  if (event.key === "Escape" && options_menu_bg.style.display != "none") {
    event.preventDefault();
    closeOptions();
  }
}

function openOptions() {
  options_menu_bg.style.display = "block";
}

function closeOptions() {
  options_menu_bg.style.display = "none";
  const bool_filter_ids = Array.from(options_menu.querySelectorAll('input[filter="bool"]:checked'))
    .map(checkbox => checkbox.id);
  var list_filter_names = Array.from(options_menu.querySelectorAll('input[filter="list"]'))
    .map((checkbox) => checkbox.name)
  list_filter_names = [...(new Set(list_filter_names))]
  var filters = []
  bool_filter_ids.forEach(id => {
    filters.push({
      "field": id, 
      "include": true
    });
  });
  list_filter_names.forEach(field => {
    const includes = Array.from(options_menu.querySelectorAll(`input[name="${field}"]:checked`))
      .map((checkbox) => checkbox.value)
    filters.push({
      "field": field,
      "include": includes
    })
  });
  
  setCookie("settings", JSON.stringify(filters), 10)
  fetch("/update-settings",
  {
    method: "POST",
    body: JSON.stringify(filters),
    headers: {
      "Content-type": "application/json",
    },
  })
  console.log(JSON.stringify(filters))
}

function randomSubtitle() {
  const subtitles = [
    "Do you know this flag?",
    "How 'bout this one?",
    "You'll never guess this!",
    "Bet you've never seen this one!",
    "Everyone knows this one!",
    "This one's a classic!",
    "Not sure about that design...",
  ]

  subtitleLabel.innerHTML = titles[Math.floor(Math.random() * subtitles.length)];
}

function getCookie(cname) {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i < ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}

function setCookie(cname, cvalue, exyears) {
  const d = new Date();
  d.setTime(d.getTime() + (exyears*365*24*60*60*1000));
  let expires = "expires="+ d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

function skip() {
  let num_guessed = getCookie("num_guessed");
  setCookie("num_guessed", Number(num_guessed) + 1, 10);
  input_field.value = "";
  newQuestion();    
}

function checkAns() {
  let val = input_field.value
  if (val.toLowerCase() == ans.toLowerCase()) {
    let num_correct = getCookie("num_correct");
    setCookie("num_correct", Number(num_correct) + 1, 10);
    skip();
  }
}

function newQuestion() {
  fetch("/new")
    .then((response) => response.json())
    .then((q) => {
      ans = q.answer.normalize("NFD").replace(/[\u0300-\u036f]/g, "").replace("–", "-");
      flagImage.src = q.flag;
      flagContainer.href = pdx_wiki_url + q.flag.replace("/static/flags", "").replace(".png", "")
    });
  input_field.focus();
}
</script>
